// COLOR
$color-primary: #fed700;
$color-secondary: #0063d1;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #e7e7e7;
$color-grey-light-3: #efefef;
$color-grey-light-4: #e2e2e2;
$color-grey-light-5: #969696;

$color-grey-dark-1: #7d879c;
$color-grey-dark-2: #373f50;
$color-grey-dark-3: #4b566b;
$color-grey-dark-4: #333e48;

$color-cyan: #15c1d7;
$color-darkgray: #8c6e63;
$color-lightskyblue: #5c6dbd;
$color-aquamarine: #15c1d7;
$color-darkcyan: #009893;
$color-blue: #0059a7;

$color-black: #000;
$color-white: #fff;
$color-red: #fe6975;
$color-brown: #ff3a3a;
$color-green: #83b735;
$color-gold: #fea569;
$color-success: #42d697;
$color-about-bg: #f9f9f9;
$color-section-heading: #f6f9fc;

// FONT
$default-font-size: 1.6rem;

// GRID
$width: 100%;

$gutter-horizontal-small: 1.5rem;
$gutter-horizontal-medium: 2rem;
$gutter-horizontal-big: 3rem;

$gutter-vertical-small: 2rem;
$gutter-vertical-medium: 3rem;
$gutter-vertical-big: 4rem;
